services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: currency_converter_app
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - PORT=3000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - currency_network

  redis:
    image: redis:7-alpine
    container_name: currency_converter_redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - currency_network

volumes:
  redis_data:
    driver: local

networks:
  currency_network:
    driver: bridge
